<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.house.dao.AJKOldHouseDataMapper">
  <resultMap id="BaseResultMap" type="com.magic.house.model.AJKOldHouseData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="html" jdbcType="VARCHAR" property="html" />
    <result column="date" jdbcType="DATE" property="day" />
    <result column="house_age" jdbcType="VARCHAR" property="houseAge" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="house_areas" jdbcType="VARCHAR" property="houseAreas" />
    <result column="house_orien" jdbcType="VARCHAR" property="houseOrien" />
    <result column="house_floor" jdbcType="VARCHAR" property="houseFloor" />
    <result column="house_pay" jdbcType="VARCHAR" property="housePay" />
    <result column="house_spruce" jdbcType="VARCHAR" property="houseSpruce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, area, address, price, html, day, house_age, house_type, house_areas, house_orien,
    house_floor, house_pay, house_spruce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_ajk_old
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h_ajk_old
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.house.model.AJKOldHouseData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_ajk_old (no, area, address, 
      price, html, day, house_age,
      house_type, house_areas, house_orien, 
      house_floor, house_pay, house_spruce
      )
    values (#{no,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{html,jdbcType=VARCHAR}, #{day,jdbcType=DATE}, #{houseAge,jdbcType=VARCHAR},
      #{houseType,jdbcType=VARCHAR}, #{houseAreas,jdbcType=VARCHAR}, #{houseOrien,jdbcType=VARCHAR}, 
      #{houseFloor,jdbcType=VARCHAR}, #{housePay,jdbcType=VARCHAR}, #{houseSpruce,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.magic.house.model.AJKOldHouseData">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_ajk_old
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        no,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="html != null">
        html,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="houseAge != null">
        house_age,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="houseAreas != null">
        house_areas,
      </if>
      <if test="houseOrien != null">
        house_orien,
      </if>
      <if test="houseFloor != null">
        house_floor,
      </if>
      <if test="housePay != null">
        house_pay,
      </if>
      <if test="houseSpruce != null">
        house_spruce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="html != null">
        #{html,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="houseAge != null">
        #{houseAge,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseAreas != null">
        #{houseAreas,jdbcType=VARCHAR},
      </if>
      <if test="houseOrien != null">
        #{houseOrien,jdbcType=VARCHAR},
      </if>
      <if test="houseFloor != null">
        #{houseFloor,jdbcType=VARCHAR},
      </if>
      <if test="housePay != null">
        #{housePay,jdbcType=VARCHAR},
      </if>
      <if test="houseSpruce != null">
        #{houseSpruce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.house.model.AJKOldHouseData">
    update h_ajk_old
    <set>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="html != null">
        html = #{html,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=DATE},
      </if>
      <if test="houseAge != null">
        house_age = #{houseAge,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseAreas != null">
        house_areas = #{houseAreas,jdbcType=VARCHAR},
      </if>
      <if test="houseOrien != null">
        house_orien = #{houseOrien,jdbcType=VARCHAR},
      </if>
      <if test="houseFloor != null">
        house_floor = #{houseFloor,jdbcType=VARCHAR},
      </if>
      <if test="housePay != null">
        house_pay = #{housePay,jdbcType=VARCHAR},
      </if>
      <if test="houseSpruce != null">
        house_spruce = #{houseSpruce,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.house.model.AJKOldHouseData">
    update h_ajk_old
    set no = #{no,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      html = #{html,jdbcType=VARCHAR},
      day = #{day,jdbcType=DATE},
      house_age = #{houseAge,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      house_areas = #{houseAreas,jdbcType=VARCHAR},
      house_orien = #{houseOrien,jdbcType=VARCHAR},
      house_floor = #{houseFloor,jdbcType=VARCHAR},
      house_pay = #{housePay,jdbcType=VARCHAR},
      house_spruce = #{houseSpruce,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>